.profile {
  height: 400px;
  width: 100%;
  margin-top: 90px;
  padding-bottom: 40px;
  background-color: #8fb2c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

.profile span {
  color: white;
  font-size: 40px;
}
