.profile {
  height: 500px;
  width: 100%;
  padding-top: 150px; 
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/elastoplast.png");
}