.profile {
  height: 500px;
  width: 100%;
  padding: 150px 0 40px 0; 
  background-color: #8fb2c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

.profile span {
  color: white;
  font-size: 40px;
}