nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0 1.5em;
}

nav span:nth-child(1) {
  font-family: 'Bungee', cursive;
}

nav span:nth-child(2) {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}

nav i {
  position: absolute;
  right: 5em;
  top: 2.5em;
  color: red;
}