nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 90px;
  background-color: #5698c3;
  color: #FFFFFF;
  padding: 0 1.5em 0 1.5em;
}

nav .tweet-header {
  font-family: 'Bungee', cursive;
  font-size: 35px;
  position: absolute;
  top: 0.7em;
}

.write-tweet span {
  position: absolute;
  right: 1.5em;
  top: 1.2em;
}

.write-tweet i {
  position: absolute;
  right: 5em;
  top: 2.5em;
  color: #c21f30;
}