.new-tweet {
  padding-bottom: 40px;
}
.new-tweet output {
  font-family: 'Bungee', cursive;
  float: right;
}
.new-tweet label {
  font-weight: bold;
  padding-top: 30px;
  float:left;
}
.new-tweet button {
  color: white;
  background-color: #4056A1;
  border: none;
  font-family: 'Bungee', cursive;
  float:left;
}
.new-tweet textarea {
  border-style: hidden;
  border-bottom: 4px solid #545149;
  width: 100%;
  background-color: #f4f1ec;
  font-weight: bold;
}
.over-limit-color {
  color: red;
}