.new-tweet output {
  font-family: 'Bungee', cursive;
  float: right;
}
.new-tweet button {
  color: white;
  background-color: #4056A1;
  border: none;
  font-family: 'Bungee', cursive;
  float:left;
}
.new-tweet textarea {
  border-style: hidden;
  border-bottom: 4px solid #545149;
  width: 100%;
  background-color: #f4f1ec;
  font-weight: bold;
}
